@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 7.2rem;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    height: 150px;
}

li {
    list-style: none;
}

.landing-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

.landing-page-container main, .scroll-container main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landing-links {
    width: 90%;
    margin: 2em 0;
}

.landing-links ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.landing-links ul li a {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    color: #FFFFFF;
}

.landing-links ul li a:hover {
    color: #45ff64;
    transition: ease-in .3s;
}

.box {
    height: 550px;
    width: 550px;
    margin: 7em 0;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    padding: 2em;
    background-color: #eeeeee;
}

.box.a {
    background-image: url('/assets/images/scroll-image-1.jpg');
}

.box.b {
    background-image: url('/assets/images/scroll-image-2.jpg');
}

.box.c {
    background-image: url('/assets/images/scroll-image-3.jpg');
}


/* .circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 0 3em;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.green {
    background-color: greenyellow;
} */